
<html lang='pt-BR'>
	<head>
		<meta charset="UTF-8">
		<title>Alterações Orçamentárias</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="normalize.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="prefixfree.min.js"></script>
	</head>

	<body>

		<div class='container'>
			<br>
			<h3> Alterações Orçamentárias</h3>
			<script src="jquery.min.js"></script>

			<form action='banco.php' method='post'>

				<div align="right">
					<h5>Recurso Disponível
					<input class="campo" type="text" name="rDisponivel">
				</h5>
				</div>
				

			<div class="place">
				<fieldset>
					<legend>Diárias nacionais</legend>

					
							<table frame="hsides"> 
		   				 			<tr>
					        			<th>Nº Item</th>
					        			<th>Localidade</th>
					        			<th>Quantidade</th>
					        			<th>Custo Unitário</th>
					        			<th>Custo Total</th>
					        			<th>Valor Gasto</th>
					        			<th>Valor Disponível</th>
					        			<th>Professor Responsável</th>
					        			<th>Justificativa</th>
		    						</tr>
					    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
						</table>
				</fieldset>

				<fieldset>
					<legend>Diárias Internacionais</legend>
						<table frame="hsides">
   				 
   				 			<tr>
			        			<th>Nº Item</th>
			        			<th>Localidade</th>
			        			<th>Quantidade</th>
			        			<th>Custo Unitário</th>
			        			<th>Custo Total</th>
			        			<th>Custo Unitário em R$</th>
			        			<th>Custo Total em R$</th>
			        			<th>Valor Gasto</th>
			        			<th>Valor Disponível</th>
			        			<th>Professor Responsável</th>
			        			<th>Justificativa</th>
    						</tr>
			    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotalReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotalReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
							</table>
				</fieldset>
						
				<fieldset>
					<legend>Passagens nacionais</legend>
						<table frame="hsides">
   				 
   				 			<tr>
			        			<th>Nº Item</th>
			        			<th>Localidade</th>
			        			<th>Quantidade</th>
			        			<th>Custo Unitário</th>
			        			<th>Custo Total</th>
			        			<th>Valor Gasto</th>
			        			<th>Valor Disponível</th>
			        			<th>Professor Responsável</th>
			        			<th>Justificativa</th>
    						</tr>
    						<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
					</table>
				</fieldset>
								
				<fieldset>
					<legend>Passagens Internacionais</legend>
						<table frame="hsides">
   				 
   				 			<tr>
			        			<th>Nº Item</th>
			        			<th>Localidade</th>
			        			<th>Quantidade</th>
			        			<th>Custo Unitário</th>
			        			<th>Custo Total</th>
			        			<th>Custo Unitário em R$</th>
			        			<th>Custo Total em R$</th>
			        			<th>Valor Gasto</th>
			        			<th>Valor Disponível</th>
			        			<th>Professor Responsável</th>
			        			<th>Justificativa</th>
    						</tr>
			    		<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotalReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					          			</td>
					          			<td>
					        				<input class="campo" type="text" name="cUnitReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotalReal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
					</table>			
				</fieldset>
							
				<fieldset>
					<legend>Material de Consumo</legend>
						<table frame="hsides">
   				 			<tr>
					        			<th>Nº Item</th>
					        			<th>Especificação</th>
					        			<th>Quantidade</th>
					        			<th>Custo Unitário</th>
			        					<th>Custo Total</th>
					        			<th>Valor Gasto</th>
					        			<th>Valor Disponível</th>
					        			<th>Professor Responsável</th>
					        			<th>Justificativa</th>
		    						</tr>
					    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr> 				 		
			    		</table>
				</fieldset>
						
				<fieldset>
					<legend>Serviços de Terceiros Pessoas Físicas</legend>
						<table frame="hsides">
   				 
   				 			<tr>
			        			<th>Ordem</th>
			        			<th>Especificação</th>
			        			<th>Custo Unitário</th>
			        			<th>Custo Total</th>
			        			<th>Valor Gasto</th>
					        	<th>Valor Disponível</th>
					        	<th>Professor Responsável</th>
			        			<th>Justificativa</th>
    						</tr>
							<tr>
										<td>
					        				<input class="campo" type="number" name="ordem">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="especificacao">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="ordem">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="especificacao">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
					</table>	
				</fieldset>


				<fieldset>
					<legend>Serviços de Terceiros Pessoas Jurídica</legend>
						<table frame="hsides">
   				 
   				 			<tr>
			        			<th>Ordem</th>
			        			<th>Especificação</th>
			        			<th>Custo Unitário</th>
			        			<th>Custo Total</th>
			        			<th>Valor Gasto</th>
					        	<th>Valor Disponível</th>
					        	<th>Professor Responsável</th>
			        			<th>Justificativa</th>
    						</tr>
							<tr>
										<td>
					        				<input class="campo" type="number" name="ordem">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="especificacao">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="ordem">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="especificacao">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
					</table>		
				</fieldset>
							
				<fieldset>
					<legend>Material Permanente</legend>
						<table frame="hsides">
	<tr>
					        			<th>Nº Item</th>
					        			<th>Especificação</th>
					        			<th>Quantidade</th>
					        			<th>Custo Unitario</th>
					        			<th>Custo Total</th>
					        			<th>Valor Gasto</th>
					        			<th>Valor Disponível</th>
					        			<th>Professor Responsável</th>
					        			<th>Justificativa</th>
		    						</tr>
					    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Editar</a></td>

				    			</tr>
				    			<tr>
					        			<td>
					        				<input class="campo" type="number" name="item">
					        			</td>
					        			<td>
					        				<input class="campo" type="local" name="local">
					        			</td>
					        			<td>
					        				<input class="campo" type="number" name="quantidade">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cUnitario">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="cTotal">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vGasto">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="vDisponivel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="responsavel">
					        			</td>
					        			<td>
					        				<input class="campo" type="text" name="justificativa">
					        			</td>
					        			<td><a href="#" class='button small-button'>Adicionar</a></td>
				    			</tr>
					</table>
				</fieldset>
			</div>
			</form>
		</div>
		
	</body>
</html>